# obvs
node_modules/

# in case a package already exists on disk
*.tgz

# no need to bring in the TS source
/lib

# don't ship tests
test

# except we should include the typescript definitions
!*.d.ts

# skip the other folders too
/docs
/examples

# Git will be downloaded at install time, don't include in package
git/

# some build output can be ignored when packaging
/build/examples
/build/script
/build/test

# output is transpiled JS - no need for these
tslint.json
tsconfig.json

# config files
*.yml
