# obvs
node_modules/

# in case a package already exists on disk
*.tgz

# no need to bring in the TS source
lib

# except we should include the typescript definitions
!*.d.ts


# no need to pull in docs
docs

# Git will be downloaded at install time, don't include in package
git/
